
((=- Minted template variant -=))
((*- if not cell_style is defined -*))
    ((* set cell_style = 'style_minted.tex.j2' *))
((*- endif -*))

((=- Inherit from the specified cell style. -=))
((* extends cell_style *))


%===============================================================================
% Latex Article
%===============================================================================

((*- block docclass -*))
\documentclass[11pt,dvipdfmx]{jsarticle}
((*- endblock docclass -*))
